
<div class="nav-bar">
  <nav>
  <ul>
    <li class="menu">
      <a href="/">Accueil</a>
    </li>
    <li class="menu">
      <a href="#">Forum</a>
    </li>
    <li class="menu">
      <a href="#">News</a> <!-- liste de tous les evenements lié au tournois. Récupération depuis la bdd-->
    </li>
    <li class="menu">
      <a href="/users/sign_in">Connexion</a>
      <ul class="submenu">
        <li class="">
          <a href="/users/sign_up">Inscription</a>
        </li>
        <li class="">
          <a href="/users/password/new">Récupérer mon mot de passe</a>
        </li>
      </ul>
    </li>
</ul>
</nav>
</div>
